video_id: 2
input_url: "/RiverAnalysis/output/bin/floater4.mp4"
output_url: ""
send_url: "http://182.150.28.58:7009/api/videos/v1/ai/notice"
ttc_path: "./ttc/msyh.ttc"
detect_interval: 20

display: True
open_modeling: True
algorithms {
    algorithm_type: SEGMANTIC
    display: False
    detect_interval: 100
}

algorithms {
    algorithm_type: WATERCOLOR
    display: False
    detect_interval: 200
}

algorithms {
    algorithm_type: FLOATER
    display: False
    detect_interval: 200
}

algorithms {
    algorithm_type: LITTER
    display: False
    detect_interval: 200
}

algorithms {
    algorithm_type: INVADE
    display: False
    detect_interval: 100
    roi_rects {
        x: 10
        y: 10
        width: 100
        height: 100
    }
}

algorithms {
    algorithm_type: FISHING
    display: False
    detect_interval: 200
}



